body{
    width:960px;
    margin:auto;
    background-color: #d2691e;
}

ul{
    display: flex;
}
li{
    min-width: 50px;
    list-style: none;
    padding: 6px;
    border-right: 2px solid #a52a2a;
    text-align: center;
}
li:last-child{
    border-right: none;
}

h1{
    border-bottom: 2px solid #a52a2a;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
}

.hasab {
    
}


footer {


}

